In [2]:
import pandas as pd

# Load the dataset
data = pd.read_csv("cleaned_dataset.csv")

# Display the first few rows to understand the structure
print(data.head())

                    course_id       userid_DI  registered  certified  \
0  HarvardX/CB22x/2013_Spring  MHxPC130442623           1          0
1         HarvardX/CS50x/2012  MHxPC130442623           1          0
2  HarvardX/CB22x/2013_Spring  MHxPC130275857           1          0
3         HarvardX/CS50x/2012  MHxPC130275857           1          0
4  HarvardX/ER22x/2013_Spring  MHxPC130275857           1          0

  final_cc_cname_DI      LoE_DI     YoB gender grade start_time_DI  \
0     United States  Bachelor's  1988.0      m     0    2012-12-19
1     United States  Bachelor's  1988.0      m     0    2012-10-15
2     United States  Bachelor's  1988.0      m     0    2013-02-08
3     United States  Bachelor's  1988.0      m     0    2012-09-17
4     United States  Bachelor's  1988.0      m     0    2012-12-19

  last_event_DI  nevents  ndays_act  nchapters  nforum_posts   age  \
0    2013-11-17      NaN        9.0        NaN             0  36.0
1           NaN      NaN        9.0        1.0             0  36.0
2    2013-11-17      NaN       16.0        NaN             0  36.0
3           NaN      NaN       16.0        NaN             0  36.0
4           NaN      NaN       16.0        NaN             0  36.0

   engagement_ratio
0               NaN
1               NaN
2               NaN
3               NaN
4               NaN

In [4]:
print(data.describe())

       registered      certified            YoB        nevents      ndays_act  \
count    592766.0  592766.000000  592766.000000  404323.000000  436674.000000
mean          1.0       0.029838    1985.637746     459.783658       5.940519
std           0.0       0.170141       8.254398    1576.711332      12.263307
min           1.0       0.000000    1931.000000       1.000000       1.000000
25%           1.0       0.000000    1983.000000       3.000000       1.000000
50%           1.0       0.000000    1988.000000      25.000000       2.000000
75%           1.0       0.000000    1991.000000     169.000000       5.000000
max           1.0       1.000000    2013.000000  197757.000000     205.000000

           nchapters   nforum_posts            age  engagement_ratio
count  355995.000000  592766.000000  592766.000000     404323.000000
mean        3.689291       0.019660      38.362254         35.262078
std         4.568059       0.234847       8.254398         61.886091
min         1.000000       0.000000      11.000000          0.142857
25%         1.000000       0.000000      33.000000          2.000000
50%         2.000000       0.000000      36.000000         11.750000
75%         4.000000       0.000000      41.000000         45.500000
max        48.000000      20.000000      93.000000      10633.333333

In [6]:
# Check for missing values
print(data.isnull().sum())

# Check data types
print(data.dtypes)

course_id                 0
userid_DI                 0
registered                0
certified                 0
final_cc_cname_DI         0
LoE_DI                    0
YoB                       0
gender                    0
grade                     0
start_time_DI             0
last_event_DI        169903
nevents              188443
ndays_act            156092
nchapters            236771
nforum_posts              0
age                       0
engagement_ratio     188443
dtype: int64
course_id             object
userid_DI             object
registered             int64
certified              int64
final_cc_cname_DI     object
LoE_DI                object
YoB                  float64
gender                object
grade                 object
start_time_DI         object
last_event_DI         object
nevents              float64
ndays_act            float64
nchapters            float64
nforum_posts           int64
age                  float64
engagement_ratio     float64
dtype: object

In [8]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 592766 entries, 0 to 592765
Data columns (total 17 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   course_id          592766 non-null  object
 1   userid_DI          592766 non-null  object
 2   registered         592766 non-null  int64
 3   certified          592766 non-null  int64
 4   final_cc_cname_DI  592766 non-null  object
 5   LoE_DI             592766 non-null  object
 6   YoB                592766 non-null  float64
 7   gender             592766 non-null  object
 8   grade              592766 non-null  object
 9   start_time_DI      592766 non-null  object
 10  last_event_DI      422863 non-null  object
 11  nevents            404323 non-null  float64
 12  ndays_act          436674 non-null  float64
 13  nchapters          355995 non-null  float64
 14  nforum_posts       592766 non-null  int64
 15  age                592766 non-null  float64
 16  engagement_ratio   404323 non-null  float64
dtypes: float64(6), int64(3), object(8)
memory usage: 76.9+ MB
None